name: Build Embedded Wasm

on:
  push:
    branches: [main]
    paths:
      - "**.swift"
      - "**.yml"
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        image: ["swift:6.2", "swiftlang/swift:nightly-6.3-noble"]

    container:
      image: ${{ matrix.image }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          swift build \
            --toolset Utilities/embedded-wasm.toolset.json \
            --triple wasm32-unknown-none-wasm
